html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  text-align: center;
}

#main {
  --main-color: #e6e1c1;
  --secondary-color: #f5ecd6;
  --font-color: #333;
  --default-radius: 0.8rem;
  background-color: var(--main-color);

  margin: 20px 10px;
  border-radius: var(--default-radius);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  padding: 2rem;

  color: var(--font-color);
}

#title h1 {
  font-size: 4rem;
  /* line-height: 10rem; */
  margin: 1.5rem 0 2rem 0;
}
#title p {
  font-size: 1.8rem;
}
#title {
  margin-bottom: 1rem;
}

#img-div {
  padding: 1rem;
  background-color: var(--secondary-color);
  border-radius: var(--default-radius);
  max-width: 100rem;
  margin: auto;
}

#image {
  max-width: 100%;
  /* display: block; */
  height: auto;
  margin: 0 auto;
  border-radius: var(--default-radius);
}

#img-div figcaption {
  font-size: 1.3rem;
  font-family: monospace;
}

#tribute-info h3 {
  font-size: 1.8rem;
  margin: 1.5rem 0 2.5rem 0;
}

#tribute-info {
  padding: 2rem 4rem;
}

#tribute-info ul {
  max-width: 60rem;
  margin: auto;
  margin-top: 2rem;
}
#tribute-info li {
  text-align: justify !important;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

#tribute-info p {
  text-align: justify !important;
}

#quote {
  max-width: 60rem;
  font-style: italic;
  font-size: 1.5rem;
  text-align: left;
  margin: 2rem auto 2rem auto;
}

#tribute-info hr {
  max-width: 60rem;
  margin: auto;
}

footer {
  margin: auto;
  font-size: 2rem;
  max-width: 100rem;
  height: auto;
  padding: 2rem 2rem;
  background-color: var(--secondary-color);
  border-radius: var(--default-radius);
}

#tribute-link:visited {
  color: #b56576;
}

#tribute-link:hover {
  color: #43aa8b;
}
